form,
label {
  display: block;
  padding: 6px;
}
form {
    
  width: 500px;
  margin: 10px;
  font-size: 14pt;
}
label {
  color: black;
  text-align: left;
}
input {
  display: inline-block;
  padding-left: 10px;
  width: 300px;
}
.login_acesso{
    margin-top: 20px;
    width: 600px;
    height: 500px;
}
.botao{
    width: 100px;
}
#retorno{
    margin-left: 15px;
    margin-top: 350px;
}

.login_acesso{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "info_pessoal acesso";
}

.info_pessoal{
  grid-area: info_pessoal;
}

.acesso{
  grid-area: acesso;
}